.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size:15px;
}
h4{
    font-size: 15px;
    line-height: 1.2;
}