.container-icons,
.card{
    align-items: center;
    background-color: none;
    border: none;
}
.icons:link{
    text-decoration: none;
    color: black;
}
.icons:visited{
    text-decoration: none;
    color: black; 
}