.site-footer {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
  
    .footer-social-link {
    text-align: center;
      ul.social-links-list {
    display: inline-flex;
    
    
        li {
          margin-left: 20px;
          margin-right: 25px;
          
        a {
            color: $dark-gray;
  
            &.gmail:hover {
              color: rgb(221, 75, 57);
            }
            &.linkedin:hover {
              color:rgb(0, 119, 181);
            }
            &.github:hover {
                color: #000000;
              }
            }
          }
        }
      }
    }
  