.site-footer {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
  
    .footer-social-link {
    text-align: center;
      ul.social-links-list {
    display: inline-flex;
    }
        
      }
    }
  